{% extends "base_page.html" %}

{% block content %}

<h1> About Us </h1>

<p>
	<b><i> NOTE: We are breaking the fourth wall here! </i> In reality, if this were a legitimate product, we would not showcase our code  (projecting our vulnerabilities) on the public Internet. </b>
</p>
<p>
FOODIE is the flagship product of StadiumTech! FOODIE offers a quick and easy way for you to receive in-the-stands delivery, in any sports stadium throughout the United States! Order from your mobile phone and never miss the highlights again!
</p>
<p>
	Read more about our product (and check out the behind-the-scenes code) online at our GitHub page: <a href="https://github.com/StadiumTech/foodie">https://github.com/StadiumTech/foodie</a>
</p>

{% endblock %}