{% extends "base_page.html" %}

{% block content %}

<h1> Contact Us </h1>

<p>
	<b> FOODIE </b> is a product developed under <i>StadiumTech</i>, a small in-house company, founded and provided by:
</p>
<p>
	<ul>
		<li> <b> Kaitlyn DeValk </b> - Coordinator ... <a href="mailto:Kaitlyn.S.DeValk@uscga.edu">Kaitlyn.S.DeValk@uscga.edu</a></li>
		<li> <b> John Hammond </b> - Software Developer ... <a href="mailto:John.W.Hammond@uscga.edu">John.W.Hammond@uscga.edu</a></li>
		<li> <b> Chris Rosselot </b> - Hardware Developer ... <a href="mailto:Christopher.C.Rosselot@uscga.edu">Christopher.C.Rosselot@uscga.edu</a> </li>
		<li> <b> Hayden Carter </b> - Research &amp; Development ... <a href="mailto:Hayden.R.Carter@uscga.edu">Hayden.R.Carter@uscga.edu</a></li>
		<li> <b> Edmund Huminski </b> - Art &amp; Design  ... <a href="mailto:Edmund.T.Huminski@uscga.edu">Edmund.T.Huminski@uscga.edu</a></li>
	</ul>
</p>


{% endblock %}